label {
    background-color: #6400b6;
    border: none;
    color: white;
    padding: 0.75rem;
    text-decoration: none;
    border-radius: 0.35rem;
    margin-top: 5rem;
    cursor: pointer;
}
button {
    background-color: #6400b6;
    color: white;
    border-radius: 0.35rem;
    padding: 0.75rem;
    margin-top: 5rem;
    cursor: pointer; 
}