<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File receiver</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <main>
        <h1>CSV File Receiver</h1>
        <form action="/files" method="post" enctype="multipart/form-data">
            <input type="file" id="get_csv" accept=".csv" name="get_csv" hidden/>
            <label for="get_csv" class="file-label">
                Import a CSV file
                <span id="file-name" style="margin-left: 10px; color: gray;">No file selected</span>
            </label>
            <button type="submit">Upload</button>
        </form>
    </main>

    <script>
        const fileInput = document.getElementById('get_csv');
        const fileNameSpan = document.getElementById('file-name');

        fileInput.addEventListener('change', () => {
            const fileName = fileInput.files.length > 0 ? fileInput.files[0].name : "No file selected";
            fileNameSpan.textContent = fileName;
        });
    </script>
</body>
</html>
