<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File receiver</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <main>
        <h1>CSV File receiver</h1>
        <form action="/files" method="post" enctype="multipart/form-data">
            <input type="file" id="get_csv" accept=".csv" name="get_csv" hidden/>
            <label for="get_csv">Import a csv file</label>
            <button type="submit">Upload</button>
        </form>
    </main>
    <script src="/static/index.js"></script>
</body>
</html>